
html, body {
    height: 100vh;
    /* width: 100vh; */
    /* min-height: 100%; 
    width: 100%;
    margin: 0 auto;  */

    background-color: rgb(25, 25, 31);

    overflow-y: hidden;
    font-family: 'Rajdhani', sans-serif;

}



#container {
    margin: 45vh;   
}

#s {
    display: flex;
    justify-content: center;
    align-items: center;
} 

input {
    
    border: solid;
    /* border-radius: 25px; */
    width: 100%;
    padding: 15px;
    background-color: rgb(25, 25, 31);
    outline: none;
    border-color: rgb(84, 79, 102);
    color: rgb(211, 209, 222);
    /* margin: 0; */
    

}

input:hover{
    border-color: rgb(128, 122, 145);
}
input:focus {
    border-color: rgb(128, 122, 145);
}



#results {
    margin: auto;
    width: 100%;
}

ul {
    max-height: 30vh;
    box-sizing: border-box;
    overflow: auto;
    /* overflow: scroll; */
    list-style: none;
    padding: 0;
    margin: 0;
}

li a{
    color: rgb(211, 209, 222);;
    padding: 15px;
    display: block;
    text-decoration: none;
    background-color: rgb(61, 61, 74);
  }
    

a:hover {
    background-color:  rgb(100, 100, 117); 
}